{% extends 'BigSmiles/base.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            text-align: center;
            font-size: larger;
        }
        .h1 {
            margin-top: 150px;
        }
        .p {
            margin-bottom: 150px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="h1">About Us:</h1>
        <p>Homident clinic offers high quality services to the community. We also offer mobile dental services to the elderly and disabled</p>
        <h1>Location:</h1>
        <p>Ayany dental clinic located at Koyaro centre along Kibra Drive 1st floor.</p>
        <p>-1.3105544748263922, 36.77434588349739</p>
        <p>Merina dental clinic Location Kimbo ruiru-dedamax hotel building.</p>
        <h1>Contacts:</h1>
        <h2>Call, SMS or WhatsApp:</h2>
        <p>+254 724927414</p>
        <p class="p">+254 799377359</p>
    </div>
</body>
</html>
{% endblock %}